body {
    background-color: var(--Background);
    color: var(--fontcolour);
}

button {
	width: 165px;
	outline: none;
	height: 50px;
	background-color: transparent;
	border: transparent;
}
#top{
	
	height: 92px;
	background-color: #ffd52b;
}
#top-in{
	width: 100%;
	height: 92px;

}

#topbutton{
	
	height: 92px;
	width: 100px;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
}
#topbutton:hover{
	background-color:khaki;
}

#denglu-button{
	float: right;
	height: 92px;
	width: 100px;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	font-size: 18px;
	font-weight: 800;
}
#dengchu-button{
	float: right;
	height: 92px;
	width: 100px;
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	font-size: 18px;
	font-weight: 800;
}
#dengchu-button:hover{
	background-color:khaki;
}
#denglu-button:hover{
	background-color:khaki;
}


/* 总内容 */

.container {
    margin-top: 10px;
}


/* 选中导航栏 */

.pitchon {
    background-color: var(--Frontcolour);
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
}


/* 导航栏 */

.nav {
    text-align: center;
    font-size: 16px;
}


/* logo */

.logo {
    margin: 10px;
}


/* logo 的img*/

.logo img {
    width: 100%;
    height: 100%;
}


/* 右边广告栏 */

.qsub-right-advertising {
    background-color: #f1f1f1;
}


/* 右边广告栏内图片 */

.qsub-right-advertising img {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#text:hover{
	color: salmon;
}


/* 左边广告 */

.qsub_left_advertising {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.qsub_left_advertising img {
    width: 100%;
    height: 100%;
}
.foot {
    width: 100%;
    background: #fff;
    font-size: 14px;
}

element.style {
}
.foot-nav {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.foot-copyrights {
    width: 960px;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #efefef;
}
	
.foot-nav-col {
    display: inline-block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10%;
}	

.foot-nav h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
	
}

li, ol, ul {
    list-style: none;
}
.foot-nav-col ul li {
    line-height: 1.8;
}
.foot a {
    color: #666;
}